:host {
  display: block;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  object-fit: cover;
}

.site-logo {
  width: 64px;
  height: 48px;
  object-fit: cover;
  border-radius: 6px;
}

