.mb-4 { margin-bottom: 1rem; }
.mr-2 { margin-right: 0.5rem; }
.flex { display:flex; }
.items-center { align-items:center; }
.gap-4 { gap:1rem; }
.py-2 { padding-top:0.5rem; padding-bottom:0.5rem; }
.flex-1 { flex:1; }

.p-table .p-tag {
  font-weight: 600;
}
